<!DOCTYPE html>
<html lang="en">
<head>
    <title>Engineering Consulting Office</title>
  <link rel="stylesheet" href="../public/css/bootstrap.min.css">
  <link rel="stylesheet" type="text/css" href="../public/css/style.css">
  <link rel="stylesheet" type="text/css" href="../public/css/media.css">
  <link rel="shortcut icon" type="x-icon" href="images/page_icon.jpg">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link rel="shortcut icon" type="x-icon" href="../public/images/page_icon.jpg">


  <link href="https://fonts.googleapis.com/css2?family=Noto+Kufi+Arabic:wght@100..900&display=swap" rel="stylesheet">

</head>
<body>
    


    <nav class="navbar navbar-expand-lg ahmed ">
        <div class="container-fluid">
          <a class="navbar-brand fs-3 fw-bolder" href="#">دليل العمارة</a>
          <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav">
              <li class="nav-item">
                <a class="nav-link active  fs-5 fw-bold" aria-current="page" href="index.ejs">الرئيسية</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" href="#">من نحن</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" href="#">نماذج من أعمال</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" href="#">موائمة</a>
              </li>
              <li class="nav-item">
                <a class="nav-link active fs-5 fw-bold" aria-current="page" href="#">التواصل</a>
              </li>
              
            </ul>
          </div>
        </div>
      </nav>


      <div class="imgcover mb-5 shadow d-flex flex-column-reverse justify-content-center align-items-center text-light">
        <h2 class=" p-5"> متخصصون في الاستشارات الهندسـية من حيث التصميم,الاشراف  والأعمال المساحية</h2>
      </div>



    <section class="shadow mt-5 bg-light  contact-us-section">
        <div class="container">
            <div class="row">

                <div class="item col-lg-6 col-12 ">
                    <form class="m-5 shadow">
                        <input type="text" id="name" placeholder="الاسم" name="name" required>
                      
                        <input type="email" id="email" placeholder="البريد الإلكتروني" name="email" required>
                      
                        <input type="tel" id="phone" placeholder="رقم الهاتف" name="phone">
                      
                        <textarea id="message" name="message" placeholder="الرسالة" required></textarea>
                      
                        <button type="submit">إرسال</button>
                      </form>
                </div>

                <div class="item col-lg-6 col-12 p-5 ">
                    <h3 class="contact-us-title fs-4 pt-5 pb-5 border-bottom">يسعدنا تلقي استفساراتكم واقتراحاتكم، ولمزيد من المعلومات يرجى ملئ الاستمارة التالية وسيتم التواصل معكم في أقرب وقت ممكن.</h3>
               
                </div>

            </div>
        </div>

      </section>



<div class="footer-tst w-100 mt-5 bottom-0 ">
    <footer class=" w-100 position-absolute bottom-0">

        <div class="foter-detils-column1"> 
          <p class="h-footer" href="#contact">للتواصل معنا</p>
  
           
  
              <div class="icons">
                  <div>
                      <i class="gg-home-alt"></i>
                  </div>
                   <p class="p-footer" href="#contact">- المركز الرئيسي ( طريق الرياض القصيم القرطبي المالكي، المدينة المنورة 42364)</p>
                  </div>
              <div class="icons">
                  <div>
                      <i class="gg-phone"></i>
                   </div>
                  <P class="p-footer">خدمة العملاء: 0557095500 | 0148253857 </P>
              </div>
  
              <div class="icons">
                  <div>
                      <i class="gg-printer"></i>
                  </div>
                  <p class="p-footer">- فاكس: 0148253857</p>
              </div>
  
              <div class="icons">
                  <div>
                      <i class="gg-mail"></i>
                  </div>
                  <p class="p-footer">- البريد: Daleelalemarah@gmail.com</p>
              </div>
              
          </div>
  
    </footer>
</div>
     
    <script src="../public/css/bootstrap.bundle.js"></script>

</body>
</html>